h1 {
    font-family: "Amatic SC";
    text-align: center;
}
body{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
/*.center {*/
/*    margin: auto;*/
/*    width: 31%;*/
/*    padding: 10px;*/
/*}*/
.part {
    background-color: #FF715B;
    border-radius: 20px;
    width: 160px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    /*margin: 10px;*/
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}
#1 {
}
#2 {
}
#3 {
}
#4 {
}
.fname1 {
    background-color: #30C5FF;
    border-radius: 5px;
}
a {
    text-decoration: none;
}
