/* homepage */
body {
	font-family: 'Raleway', sans-serif;
	background-color: #4C5B5C;
	color: #4C5B5C; /* font color */
}
.project-name {
	font-family: "Amatic SC";
	font-size: 100px;
	color: #4C5B5C;
}
a {
	text-decoration: none;	
}
.foreground {
	background-color: #FF715B;
	border-radius: 20px;
	width: 300px;
	height: 400px;
	text-align: center;
	vertical-align: center;
	width: 50%;
  	transform: translate(-50%, -50%);
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	resize: both;
  	overflow: auto;
}

/* homepage: sidebar */
.top {
    position:absolute;
    left:0; right:0;
    height: 92px;
}
.left {
    position:absolute;
    left:0; top:92px; bottom: 0;
    width: 178px;
}
.main {
    position: absolute;
    left:178px; top:92px; right:0; bottom:0;
}

/* input names */
.nameTitle {
    font-family: "Amatic SC";
    text-align: center;
    color: #FF715B;
    font-size: 50px;
}
.part { /* form */
    background-color: #FF715B; /* color of the border */
    border-radius: 20px;
    width: 160px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}
.fname1 { /* form */
    background-color: #dbf0fa; /* color of the textbox */
    border-radius: 5px;
}
#player {
    margin-bottom: 20px;
}
.text {
	color: #FF715B;
	text-align: center;
}

/* game */
