/* HOMEPAGE */
body {
	font-family: 'Raleway', sans-serif;
	background-color: #4C5B5C;
	color: #4C5B5C; /* font color */
}
.project-name {
	font-family: "Amatic SC";
	font-size: 100px;
	color: #4C5B5C;
}
a {
	text-decoration: none;	
}
.foreground {
	background-color: #FF715B;
	border-radius: 20px;
	width: 300px;
	height: 400px;
	text-align: center;
	vertical-align: center;
	width: 50%;
  	transform: translate(-50%, -50%);
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	resize: both;
  	overflow: auto;
}

/* HOMEPAGE: sidebar */
.top {
    position:absolute;
    left:0; right:0;
    height: 92px;
}
.left {
    position:absolute;
    left:0; top:92px; bottom: 0;
    width: 178px;
}
.main {
    position: absolute;
    left:178px; top:92px; right:0; bottom:0;
}

/* INPUT NAMES */
.nameTitle {
    font-family: "Amatic SC";
    text-align: center;
    color: #FF715B;
    font-size: 50px;
}
.part { /* form */
    background-color: #FF715B; /* color of the border */
    border-radius: 20px;
    width: 160px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}
.fname1 { /* form */
    background-color: #dbf0fa; /* color of the textbox */
    border-radius: 5px;
}
#player {
    margin-bottom: 20px;
}
.text {
	color: #FF715B;
	text-align: center;
}

/* GAME */
#one {
    border: 5px, solid #4C5B5C; /* change this color with the background */
    width: 50px;
}

#two {
    border: 5px, solid #4C5B5C; /* change this color with the background */
    width: 400px;
}

.nav {
	color: #FF715B;
	text-align: center;
}

#first {
	float: left;
	top:25;
}

#second {
	float: right;
	top:25;
}

ul {
    list-style-type:horizontal;
    margin:0;
    padding:0;
    border:0;
    height:40px;
}

li {
    margin: auto 0;
    padding:0;
    border: 2px solid #4C5B5C; /* change this color with the background */
    display:block;
    float:left;
    width:30px;
    height:30px;
    cursor:pointer;
    quad(100, 100, 300, 100, 300, 300, 110, 290);
}

li.active {
    border:2px solid #FFFFFF;
}

.button {
    margin-top:10px;
    font-family:Arial, sans-serif;
    color: #4C5B5C;
    display:block;
    width:220px;
    padding:5px 10px;
    border-radius: 20px;
    background: rgba(130,220,255,1);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(130,220,255,1)), color-stop(0.35, rgba(130,220,255,1)), to(rgba(48,197,255,1)));
    background: -webkit-linear-gradient(rgba(130,220,255,1) 0%, rgba(130,220,255,1) 35%, rgba(48,197,255,1) 100%);
    background: -moz-linear-gradient(rgba(130,220,255,1) 0%, rgba(130,220,255,1) 35%, rgba(48,197,255,1) 100%);
    background: -o-linear-gradient(rgba(130,220,255,1) 0%, rgba(130,220,255,1) 35%, rgba(48,197,255,1) 100%);
    background: linear-gradient(rgba(130,220,255,1) 0%, rgba(130,220,255,1) 35%, rgba(48,197,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82dcff', endColorstr='#30c5ff', GradientType=0 );
    color: #4C5B5C;
    text-decoration:none;
    font-size:2em;
    text-align:center;
}

footer {
	color: #FF715B;
	text-align: center;
	margin-top: 500px;
}

/* GAME: sidebar */
.topBar {
	color: #FF715B;
	top: 10px;
	height: 92px;
	font-family: "Amatic SC";
	font-size: 30px;
}

.leftBar {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	color: #FF715B;
}

/* IMPORTANT General styles for all menus */
.cbp-spmenu {
	background: #3B97D3;
	position: fixed;
}

/* LINK STYLES */

.cbp-spmenu a {
	display: block;
	color: #ededed;
	font-size: 25px;
	letter-spacing: 1px;
	text-decoration: none;
	
}
.cbp-spmenu a:hover {
	background: #35495e;
}
.cbp-spmenu-vertical {
	width: 20%;
	height: 100%;
	top: 0;
	z-index:10000;
}

/* Spacing!! */
#toolbartext a {
	padding: 1.5em;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -20%;
}


.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}


/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.cbp-spmenu-push {
	background: white;
	margin:0;
}

#pushOut {
	float: right;
	background: none;
}
